# Скомпилированные бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib

# Папки с тестовыми данными
/testdata/

# Файлы окружения (секреты, пароли)
.env
.env.local

# Папка с зависимостями (Go сам их скачает)
vendor/

# Папка IDE
.idea/
.vscode/

# Бинарник проекта (например, если проект называется myapp)
/myapp
